*{
    font-family: 'Noto Sans KR', sans-serif; /*폰트 css*/
    list-style: none; /*목록에 점 x*/
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
    overflow:hidden;
}

html, body{
    /* background: linear-gradient(to right, #56baf5, #ffffff); */
}
.intro_bg{
    position:relative;
    top:200px;
    left:300px;
    background-image: url("img/back_img1.jpg");
    width: 1920px;
    height: 960px;
}

/* .searchArea{
    width: 300px;
    height: 40px;
    background-color: green;
    border-radius: 5px;
    margin-top: 24px;
}

.searchArea > form > input{
    border:none;
    width: 250px;
    height: 40px;
    padding-left:10px;
    background: rgba[0,0,0,0,0];
} */
.header{
    display:flex;
    width:1920px;
    margin: auto;
    height: 86px;
}

.nav{
    display:flex;
    width:100%;
    justify-content: flex-end;
    line-height: 86px;
}

.nav > li{
    margin-left: 100px;
}

.iner_background{
   position: relative;
   top: 40px;
   left: 40px;
   background-color: white;
   width: 1280px;
   height:120px;
   /* margin-top:50px;
   margin-left:100px; */
   border-radius: 5px;
}

.iner_background > .iner_top{
    display:flex;
}

.iner_background > .iner_bottom{
    display:flex;
}

.iner_background > .iner_top > li > div{
    background-color: aquamarine;
    width: 100px;
    text-align:center;
    margin-left:50px;
    margin-top:20px;
    border-radius: 10px;
}

.iner_background > .iner_top > .iner_roundtrip{
    margin-left:32px;
}

.iner_background > .iner_top > .iner_oneway{
    margin-left:10px;
}
.iner_bottom{
    height: 80px;
}
.iner_background > .iner_bottom > li > div{
    /* background-color: rgb(57, 116, 167); */
    border-radius: 5px;
    width: 200px;
    height: 40px;
    text-align:center;
    line-height:40px;
    margin-top:20px;
    margin-left:32px;
}

.iner_background > .iner_bottom > li button:hover{
    color: black;
    transform: scale(1.2);
    transition: all .2s ease-in-out;
    flex : 1;
}

/* iner_button custom */

.iner_bottom > li > .iner_start{
    cursor: pointer;
    background-color: rgb(220, 250, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.iner_start > button{
    background-color: rgb(220, 250, 255);
    font-size: 20px;
    cursor: pointer;
    border:none;
}

.iner_bottom > li > .iner_dest{
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(220, 250, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.iner_dest > button{
    background-color: rgb(220, 250, 255);
    font-size: 20px;
    cursor: pointer;
    border:none;
}

.iner_bottom > li > .iner_pers{
    cursor: pointer;
    background-color: rgb(220, 250, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.iner_pers > button{
    background-color: rgb(220, 250, 255);
    font-size: 20px;
    font-weight: 100;
    cursor:pointer;
    border:none;
}

.iner_bottom > li > .iner_callend{
    cursor: pointer;
    background-color: rgb(220, 250, 255);
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
}

.iner_callend > button{
    background-color: rgb(220, 250, 255);
    font-size: 20px;
    cursor:pointer;
    border:none;
}

.iner_bottom > li > .iner_search{
    cursor: pointer;
    border: none;
    background-color: rgb(72, 102, 131);
}

.iner_search > button{
    background-color: rgb(72, 102, 131);
    font-size:20px;
    cursor:pointer;
    border:none;
}

/*  */
/* modal */
/*  */

.start_modal{
    position:relative;
    top: 100px;
    left: 40px;
    z-index:10;
    opacity:0;
    transition: .5s;
    transform: scale(0.7);
}

.start_modal.active{
    opacity: 1;
    transform: scale(1);
}


.start_content{
    width:600px;
    /* border: 1px solid black; */
    height:500px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.start_content_header{
    background-color: rgb(220, 250, 255);
    text-align: center;
    border-radius: 5px;
}

.start_content input[type=start]{
    position: relative;
    top: 10px;
    left: 10px;
    display: block;
    width:580px;
    height:30px;
    text-align: center;
    border: 1px solid rgb(13, 54, 65);
    border-radius: 5px;
    outline: none;
}

.start_content input[type=start]::placeholder{
    color: #bbb;
    transition: .5s;
}

.start_content input[type=start]:focus::placeholder{
    visibility: hidden;
    opacity: 0;
}

.start_content_bottom{
    width:580px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right:10px;
    display:flex;
}
.start_content_bottom_left{
    flex:1;
    height:400px;
    background-color: aquamarine;
}

.start_content_bottom_right{
    flex:2;
    height:400px;
    background-color: antiquewhite;
}

.dest_modal{
    position:absolute;
    top: 200px;
    left: 330px;
    z-index:10;
    opacity:0;
    transition: .5s;
    transform: scale(0.7);
}

.dest_modal.active{
    opacity: 1;
    transform: scale(1);
}

.dest_content{
    width:600px;
    height:500px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.dest_content_header{
    background-color: rgb(220, 250, 255);
    text-align: center;
    border-radius: 5px;
}

.dest_content input[type=dest]{
    position: relative;
    top: 10px;
    left: 10px;
    display: block;
    width:580px;
    height:30px;
    text-align: center;
    border: 1px solid rgb(13, 54, 65);
    border-radius: 5px;
    outline: none;
}

.dest_content input[type=dest]::placeholder{
    color: #bbb;
    transition: .5s;
}

.dest_content input[type=dest]:focus::placeholder{
    visibility: hidden;
    opacity: 0;
}

.dest_content_bottom{
    width:580px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right:10px;
    display:flex;
}
.dest_content_bottom_left{
    flex:1;
    height:400px;
    background-color: aquamarine;
}

.dest_content_bottom_right{
    flex:2;
    height:400px;
    background-color: antiquewhite;
}

.pers_modal{
    position: absolute;
    top:200px;
    left:585px;
    z-index: 10;
    opacity: 0;
    transition: .5s;
    transform: scale(0.7);
}

.pers_modal.active{
    opacity: 1;
    transform: scale(1.0);
}

.pers_content{
    width:200px;
    height:500px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.pers_content_header{
    text-align: center;
    background-color: rgb(220, 250, 255);
}
.overlay{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    width:100%;
    height:100vh;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
    visibility: hidden;
}

.overlay.active{
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}